{% extends 'base.html' %}
{% block content %}
<div class="row mb-2 justify-content-center">
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='img/board_game_plug.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">GEXOPOLICE - Рост городов не остановить. Попробуй пояймать волну спроса и обеспечить бесперебойные поставки от карьера, до двери.</p>
                <a class="nav-link" href="/board_game/">Посмотреть</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='img/plug.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">То ли ещё будет...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='img/plug.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">То ли ещё будет...</p>
            </div>
        </div>
    </div>
</div><div class="row mb-2 justify-content-center">
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='')}}img/plug.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">То ли ещё будет...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='')}}img/plug.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">То ли ещё будет...</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img src="{{url_for('static', filename='img/plug.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">То ли ещё будет...</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}